body{
    background-image: url(https://images.pexels.com/photos/3540760/pexels-photo-3540760.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .heading{
    padding-top: 50px;
  }
h1{
    color: white;
    text-align: center;
    text-decoration: overline;
    animation: line 3s infinite;
}

@keyframes line {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.container{
  margin-bottom: 50px;
  
}
.float-end{
  margin-right: 50px;
  width: 130px;
}
