body{
    background-image: url(https://cdn.pixabay.com/photo/2014/09/27/18/43/wall-463978__340.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  
h1{
    color: white;
    text-align: center;
    text-decoration: overline;
    animation: line 3s infinite;
}

@keyframes line {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
legend{
  text-decoration: underline;
}
.container{
  max-width: 400px;
  
}
.row{
  width: 900px;
  background-color: goldenrod;
  border-radius: 40px;
}
.col1{
  border-radius: 40px;
  background-color: goldenrod;
}
img{
  margin: 10px;
}
.col2{
  margin-right: 80px;
}
.btn-primary{
  float: right;
}
